name: code-coverage

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: latest
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'pnpm'

    - name: Install Dependencies
      run: pnpm install

    - name: Build    
      run: pnpm build

    - name: Test Services
      run: pnpm test:services:start

    - name: Wait for Services
      run: sleep 5

    - name: Testing    
      run: pnpm test:ci
      
    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./packages/qified/coverage/lcov.info, \
         ./packages/redis/coverage/lcov.info, \
         ./packages/nats/coverage/lcov.info, \
         ./packages/rabbitmq/coverage/lcov.info
