name: release

on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: read

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: latest
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'pnpm'

    - name: Install Dependencies
      run: pnpm install

    - name: Build    
      run: pnpm build

    - name: Test Services
      run: pnpm test:services:start

    - name: Wait for Services
      run: sleep 5

    - name: Testing
      run: pnpm test

    - name: create npmrc
      run: |
        echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
        echo "always-auth=true" >> ~/.npmrc

    - name: Publish
      run: |
        pnpm publish:packages
        

